html {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(bottom left,#100F0F, #0F3D3E,#100F0F);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    
}

body{
    background: -webkit-linear-gradient(bottom, #0F3D3E, #E2DCC8);   
    border-radius: 15px;  
    font-family:'Times New Roman', Times, serif;


}

#icon{
    color: #100F0F;

}

.registration-for{
    padding: 50px ;
    text-align: center;

}
.registration-for{
    max-width: 800px;
    padding: 50px ;
    border-radius: 15px;
    box-shadow: 4px 4px 15px black;


}

.text-center{
    font-weight: bold;
    margin-bottom: 30px;
    font-size:x-large;
    color: #100F0F;

}

.form-control.item{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;


}

.btn-primary.btn-block{
    border-radius: 15%;
    padding: 10px 20px;
    font-size: 18px;
    background: -webkit-linear-gradient(bottom left,#0F3D3E,#100F0F ,#0F3D3E);
    border: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;

    
    
}