*{
    margin: 0px;
    padding: 0px;
}

html{
    background: -webkit-linear-gradient(bottom right,#0F3D3E,#E2DCC8,#0F3D3E);

}
body{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    padding: 2%;
    
    

}
fieldset{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;  
    padding: 1%;
       
}

legend{
    font-size: x-large;
    color: white;
    
    

}
#container{
   border: 2px solid black;
   height: 100%;
   width: 100%;
   line-height: 100%;

  
}
#document_type{
width: 250px;

}

#age{
width: 30px;

}

.input{
    padding: 8px 16px ;
    margin-top: 32px;
    border-radius: 5px;
    border: 1px solid black;
    color:rgb(78, 78, 78);
    background-color: rgb(255, 255, 255);
    
}

.names{
    width: 10%;
    height: 100%;
    padding: 8px 16px ;
    margin-top: 32px;
    border-radius: 5px;
    border: 1px solid black;
    color:rgb(78, 78, 78);
    background-color: rgb(255, 255, 255);
    

}
